*, body, .container {
    margin: 0;
}

.container {
    padding: 15px;

    .cats {
        width: 150px;
        margin-bottom: 10px;
    }
}

.cats {
    &:last-child {
        margin-bottom: 0;
    }
}